.skill {
    width: 250px;
    background-color: #f7f7f7;
    min-height: 300px;
}

.icon {
    width: 60px;
    height: 60px;
    background-color: #eeeef5;
}

.iconSpace {
    width: 60px;
    height: 60px;
}


