
.mainBlock {
    height: 100vh;
    background-color: #8a6aa1;

}

.greeting {
    width: 300px;
    background-color: lightgray;
}

.photo {
    width: 300px;
    height: 400px;
    background-color: lightgray;
}